// HACK: See index.svelte
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800i&display=swap');

.component-styles-wrapper {
  // Insert here all the global styles of your component.
  // This will be used in the storybook and in the root custom element.

  h1 {
    font-family: 'Open Sans', sans-serif;
  }

  .clock-container {
    width: 500px;
  }
}
